aws_region        = "ap-southeast-1"
project           = "medbook"
db_instance_class = "db.t3.micro"

cognito_callback_urls = ["http://localhost:5173/auth/callback"]
cognito_logout_urls   = ["http://localhost:5173/"]

domain_name          = "apexamplep..com"
cloudflare_zone_name = "example.com"

budget_alert_email = "example@gamil.com"
